<header>
    <div class="logo">
        <a href="<%- config.root %>"><i class="logo-icon fa <%- logoIcon ? logoIcon : theme.fa_logo %>" aria-hidden="true"></i></a>
        <% if(headerTitle) { %>
            <h1 id="main-title" class="title"><%- headerTitle %></h1>
        <% } %>
    </div>
    <nav>
        <li><a target="_blank" href="https://auto.hdu.edu.cn/3720/list.htm">学院概况</a></li>
        <li><a target="_blank" href="https://auto.hdu.edu.cn/3721/list.htm">本科教育</a></li>
        <li><a target="_blank" href="https://auto.hdu.edu.cn/3722/list.htm">研究生教育</a></li>
        <li><a target="_blank" href="https://auto.hdu.edu.cn/3723/list.htm">学科建设</a></li>
        <li><a target="_blank" href="https://auto.hdu.edu.cn/3724/list.htm">科学研究</a></li>
        <li><a target="_blank" href="https://auto.hdu.edu.cn/3725/list.htm">实验室建设</a></li>
        <li><a target="_blank" href="https://auto.hdu.edu.cn/3725/list.htm">实验室设备</a></li>
        <li><a target="_blank" href="https://auto.hdu.edu.cn/3725/list.htm">实验室建设</a></li>
    </nav>
</header>