<header>
    <div class="logo">
        <a href="<%- config.root %>"><i class="logo-icon fa <%- logoIcon ? logoIcon : theme.fa_logo %>" aria-hidden="true"></i></a>
        <% if(headerTitle) { %>
            <h1 id="main-title" class="title"><%- headerTitle %></h1>
        <% } %>
    </div>
    <nav>
        <li><a target="_blank" href="https://auto.hdu.edu.cn/3740/list.htm">师资力量</a></li>
    </nav>
</header>